@font-face {
  font-family: 'iconfont1';
  src: url('./assets/font/YouSheBiaoTiHei-2.ttf') format('truetype');
}

@font-face {
  font-family: 'iconfont2';
  src: url('./assets/font/SmileySans-Oblique.ttf') format('truetype');
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  font-size: 92.5%; // 1rem = 10px
  overscroll-behavior: none;
  user-select: none;

  * {
    // font-family: 'iconfont1';
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding: 2px;
    background-color: rgba(125, 153, 255, 80%);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    margin: 2px;
    background: linear-gradient(180deg,
        rgba(55, 208, 255, 80%) 0%,
        rgba(12, 73, 241, 80%) 100%);
    border-radius: 4px;
  }

  .ant-layout-content {
    height: 100vh;
    width: 100vw;
    padding: 0;
    padding-block: 0 !important;
    padding-inline: 0 !important;
  }
}

.ant-progress {
  width: 100%;
  text-align: center;
  color: inherit;
  font-size: inherit;

  .ant-progress-text {
    font-weight: bold;
    color: inherit;
    font-size: inherit;
  }

  .ant-progress-steps-outer {
    background: linear-gradient(90deg, rgba(0, 85, 255, 0.2) 0%, rgba(0, 94, 255, 0.3) 50%, rgba(0, 136, 255, 0.7) 100%);
  }

  .ant-progress-steps-item {
    width: auto !important;
    flex: 1;
    background-color: transparent;
  }
}

.ant-statistic {
  color: inherit;

  .ant-statistic-content {
    font-size: 1.4rem;
    color: inherit;
  }
}

.progress1 {
  .ant-progress-steps-item-active {
    background-color: #0687ff;
  }
}

.progress2 {
  .ant-progress-steps-item-active {
    background-color: #00f2ff;
  }
}

.flex-box {
  display: flex;
  display: -ms-flex;
  align-items: center;
}

.flex-box-column {
  display: flex;
  display: -ms-flex;
  flex-direction: column;
}

.flex-box-start {
  display: flex;
  display: -ms-flex;
  align-items: flex-start;
}

.flex-box-end {
  display: flex;
  display: -ms-flex;
  align-items: flex-end;
}

.flex-box-align-end {
  display: flex;
  display: -ms-flex;
  align-items: flex-end;
}

.flex-box-justify-end {
  display: flex;
  display: -ms-flex;
  justify-content: flex-end;
}

.flex-box-justify-start {
  display: flex;
  display: -ms-flex;
  justify-content: flex-start;
}

.flex-box-justify-between {
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-align: center;
}

.flex-box-justify-around {
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-align: center;
}

.flex-box-center {
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}

.fontColor {
  background-image: linear-gradient(to top, #0084ff, #aee3ff, #fafdff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imgPosition {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dashed-line {
  height: 0.1rem;
  border: 0.1rem dashed rgb(0, 208, 255);
  position: relative;
  overflow: hidden;
  animation: dash 2s linear infinite;
}

.ant-message {
  font-size: 4rem;
}

.ant-message .ant-message-notice-wrapper .ant-message-custom-content>.anticon {
  font-size: 4rem;
  margin-right: 1rem;
}

.ant-message .ant-message-notice-wrapper .ant-message-notice-content {
  padding: 0.4rem 1.6rem;
}

.ant-form-item .ant-form-item-explain {
  font-size: 3.2rem;
}

.ant-popover {
  font-size: 2.4rem;
}

.commonPageStyle {
  width: 1420px;
  min-width: 1200px;
  margin: 0 auto;
  background: left top repeat-x #fff;
  border-radius: 15px 15px 0 0;
  z-index: 100;
  position: relative;
  padding: 0 0 20px 29px;
}